body {
	padding-top: 40px;
}

.terminal {
	position: absolute;
	top: 40px;
	right: 0px;
	bottom: 0px;
	left: 0px;

    border: #000 solid 5px;
    font-family: "DejaVu Sans Mono", "Monaco", "Liberation Mono", monospace;
    color: #f0f0f0;
    background: #000;
    line-height: normal;
}

/* For the cursor */
.reverse-video {
	color: #000;
	background-color: #f0f0f0;
}
